*{
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 2px solid black;
}

thead {
  background-color: #bbd0ff;
}

form {
  display: inline-block;
  padding: 20px;
  border: 3px black solid;
  border-radius: 30px;
  background-color: #bbd0ff;
  box-shadow: 10px 10px 10px;
  margin-top: 20px;
}

form label {
  display: inline-block;
  width: 200px;
  border: 2px black solid;
  border-radius: 10px;
  margin: 20px;
  background-color: #ccffff;
  box-shadow: 2px 2px 2px black;
}

form input {
  border: 2px black solid;
  border-radius: 10px;
  background-color: #ccffff;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

form select {
  border: 2px black solid;
  border-radius: 10px;
  background-color: #ccffff;
  box-shadow: 5px 5px 5px black;
  text-align: center;
}

form div {
  margin: 30px;
}

.profilePic {
  width: 150px;
  height: 150px;
  border: 2px black solid;
}

.StoreObjprofilePic {
  width: 50px;
  height: 50px;
  border: 2px black solid;
  border-radius: 50%;

}

button {
  background-color: #ccffff;
  border-radius: 10px;
 height: 25px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.5rem;
background-color: #bbd0ff;
border: 1.5px black solid;
border-radius: 10px;


}

.Div {
  border: 2px solid black;
  display: inline-block;
  border-radius: 20px;
}

body {
  background-color:#bde0fe;
}

.innerLabel {
  width: auto;
}

input{
    border: 2px black solid;
    border-radius: 5px;
    background-color: #ccffff;
    height: 25px;
    text-align: center;
}